/* -------------------------------------------------table.css---------------------------------------------------------------------------- */

/* ---------------------------------------Dashboard Table------------------------------------------------ */

.nav-pills .nav-link.active
{
    background-color: white;
    color: black;
    position: relative;
}
.fcclogo {
    width: 80%;
    margin-top: 9%;
    margin-left: 8%;
} 

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 11px;
    background-color:white;
}
tbody{
    font-size: 11px;
    height: 90px;
}


.table-container1 {
    /* max-height: 110px; */
    /* overflow-y: auto; */
    position: relative;
    margin-top: 1%;

    
    /* position: relative; */
 
    
    
}


.table-container2 {
    max-height: 210px;
    overflow-y: auto;
    position: relative;
    margin-top: 2%;
    
}


table {

    table-layout: fixed;

 
}

table col {
    width: 100%;
    
}



table td {
 
    padding: 2%;
    font-weight: normal;
    text-align: left;
    max-width: 100%;
    overflow: hidden;
    /* line-height: 18px; */
    white-space: nowrap;
    
}


/* table header */
table th>div {
    /* min-width: 20px; */
    max-height: 1.5em;
    overflow: hidden;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    
}
/* table resize after refresh ,in side line */
.tableResize {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5%;
    cursor: e-resize;
    
}

/* line color */
th>div:hover .tableResize {
    background-color: green;
}

/* text alginment double click */
.textWidth {
    position: absolute;
    visibility: hidden;
   
}

/* .tableResize{
    min-width: 100px;
} */
th{
    min-width: 100px;

}


/* ---------------------------------------/--------dashboard----------/------------------------------------------ */

.topicons {
  
    margin-top: 2%;
    width: 97%;
    height: 30px;
}

.projectdetails {
    margin-top: 2%;

    width: 97%;
 
}


.project {
    border: 1px solid white;
    padding: 2px;

    border-radius: 5px;
    height: 50px;
}

.item {
    margin-top: 1%;

    padding: 2px;

    border-radius: 5px;
    height: 50px
}


/* .Itemdetails {
    margin-top: 15px;
} */

.fa-solid {
    color: black;
}

.fa-magnifying-glass {
  
    color: white;
}
#btn {
    background-color: #353a40;
    outline: none;
    border: none;
}


/* ----------------------------------Logo------------------------ */

img {
    width: 90%;
    margin-top: 5%;
}

/* ------------------------------------------Sidenavbaar----------------------------------------------------------- */
.sidenav {
    background-color: #353a40;
    position: fixed;
  
    width: 15%;
 

    z-index: 1;
    line-height: 100%;
}

.nav-link {
  
    color: white;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.nav-link:hover {
    background-color: white;
    color: black;
    
}


.fa-circle-user {
    font-size: 25px
}

/* .Itemdetails {
    margin-top: 3%;
} */
