/* -------------------------------------------------table.css---------------------------------------------------------------------------- */

/* ---------------------------------------Dashboard Table------------------------------------------------ */
/* .fa-circle-user
{
    color: white;
} */
/* img {
    width: 80%;
    margin-top: 9%;
    margin-left: 8%;
} */

.image
{
    width: 80%;
    margin-top: 9%;
    margin-left: 8%;
}

.nav-pills .nav-link.active
{
    background-color: white;
    color: black;
    position: relative;
    border-radius: 0%;
}
.fcclogo {
    width: 80%;
    margin-top: 9%;
    margin-left: 8%;
} 

.dash_thead {
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

/* thead {
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 11px;
    background-color: white;
} */

tbody {
    font-size: 11px;
    height: 90px;
}


table {

    table-layout: fixed;
    font-size: 11px;


}

table col {
    width: 100%;

}



table td {

    padding: 2%;
    font-weight: normal;
    text-align: left;
    max-width: 100%;
    overflow: hidden;
    /* line-height: 18px; */
    white-space: nowrap;

}


/* table header */
table th>div {
    /* min-width: 20px; */
    max-height: 1.5em;
    overflow: hidden;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;

}

/* table resize after refresh ,in side line */
.tableResize {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5%;
    cursor: e-resize;

}

/* line color */
th>div:hover .tableResize {
    background-color: green;
}

/* text alginment double click */
.textWidth {
    position: absolute;
    visibility: hidden;

}

/* .tableResize{
    min-width: 100px;
} */
th {
    min-width: 100px;

}


/* Dashboard Table1 */
.table-container1 {
    /* max-height: 110px; */
    overflow-y: scroll;
    display: block;
    height: 150px;
    position: relative;
    margin-top: 1%;


    /* position: relative; */



}


.table1_ratio {
    text-align: center;
    width: 0%;
    color: white
}

.table1_quote {
    text-align: left;
    width: 6%
}

.table1_customer {
    text-align: left;
    width: 17%;
}

.table1_enquiry {
    text-align: left;
    width: 12%;
}

.table1_receipt {
    text-align: left;
    width: 6%;
}

.table1_due {
    text-align: left;
    width: 6%;
}

.table1_region {
    text-align: left;
    width: 8%;
}

.table1_industry {
    text-align: left;
    width: 15%;
}

.table1_engineer {
    text-align: left;
    width: 5%;

}

.table1_status {
    text-align: left;
    width: 8%;

}

.table1_print {
    text-align: center;
    width: 2%;
}


/* Dashboard Table2 */

.table-container2 {
    max-height: 218px;
    overflow-y: auto;
    position: relative;
    margin-top: 2%;

}

.table2_ratio {
    text-align: center;
    width: 2%;
}

.table2_item {
    text-align: left;
    width: 3%
}

.table2_alt {
    text-align: center;
    width: 4%
}

.table2_tag {
    text-align: left;
    width: 6%
}

.table2_series {
    text-align: center;
    width: 6%
}

.table2_size {
    text-align: left;
    width: 5%
}

.table2_model {
    text-align: left;
    width: 7%
}


.table2_type {
    text-align: left;
    width: 6%
}


.table2_rating {
    text-align: left;
    width: 5%
}

.table2_material {
    text-align: left;
    width: 7%
}

.table2_unit {
    text-align: right;
    width: 5%;

}

.table2_qty {
    text-align: center;
    width: 6%
}

.table2_total {
    text-align: right;
    width: 7%;
}

.table2_print {
    text-align: center;
    width: 3%
}


/* ---------------------------------------/--------dashboard----------/------------------------------------------ */

.topicons {

    margin-top: 2%;
    width: 97%;
    height: 30px;
}

.projectdetails {
    margin-top: 2%;

    width: 97%;

}


.project {
    border: 1px solid white;
    padding: 2px;

    border-radius: 5px;
    height: 50px;
}

.item {
    margin-top: 1%;

    padding: 2px;

    border-radius: 5px;
    height: 50px
}


/* .Itemdetails {
    margin-top: 15px;
} */

.fa-solid {
    color: black;
}

.fa-magnifying-glass {

    color: white;
}

#btn {
    background-color: #353a40;
    outline: none;
    border: none;
}


/* ----------------------------------Logo------------------------ */

img {
    width: 75%;
    margin-top: 6%;
    margin-left: 4%;
}

/* ------------------------------------------Sidenavbaar----------------------------------------------------------- */
.sidenav {
    background-color: #353a40;
    position: fixed;

    width: 15%;


    z-index: 1;
    line-height: 100%;
}

.nav-link {

    color: white;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    
}

.nav-link:hover {
    background-color: white;
    color: black;
    border-radius: 0%;

}

.nav-pills .nav-link.active {
    background-color: white;
    color: black;
}


.fa-circle-user {
    font-size: 25px;
    color: white;
}

/* .Itemdetails {
    margin-top: 3%;
} */