{% block content %}
{% include "header.html" %}
<br><br>

<div class="row">
    <div class="col-4 mt-2">
        <div class="cvtable shadow p-3">
            <h6 class="viewdata_heading"><b>CV Table</b></h6>

            <div class="row mt-1">
                <div class="col-6">
                    <a href=""><button type="button" class="btn btn-info btn-block viewbtn">Cv
                            Table</button></a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4 mt-2">
        <div class="viewdata shadow p-3">
            <h6 class="viewdata_heading"><b>Accessories</b></h6>

            <div class="row ">
                <div class="col-6 ">
                    <a href=""><button type="button" class="btn btn-info btn-block viewbtn">Afr</button></a>
                </div>
                <div class="col-6">
                    <a href=""><button type="button" class="btn btn-info btn-block viewbtn">Positioner</button></a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href=""><button type="button" class="btn btn-info btn-block viewbtn">Positioner
                            Signal</button></a>
                </div>
                <div class="col-6">
                    <a href=""><button type="button" class="btn btn-info btn-block viewbtn">Solenoid</button></a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-4 mt-2">
        <div class="processdata shadow p-3">
            <h6 class="viewdata_heading"><b>Process Data</b></h6>
            <div class="row">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">ApplicationMaster</button>

                    </a>
                </div>
                <div class="col-6 mt-1">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Fluid
                            Properties</button>


                    </a>
                </div>
                <div class="col-6 mt-1">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Fluid
                            state</button>


                    </a>
                </div>

            </div>
        
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-4">
        <div class="valve Data shadow p-3">
            <h6 class="viewdata_heading"><b>Valve Data</b></h6>
            <div class="row">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Bonnet</button>


                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Bonnet
                            Type</button>

                    </a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Balance
                            Seal</button>

                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Balancing</button>

                    </a>
                </div>
            </div>
            <div class="row mt-1">

                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Flow
                            Direction</button>

                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Gasket</button>

                    </a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">ValveStyle</button>


                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Packing
                            Type</button>

                    </a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Packing
                            Friction</button>

                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Packing
                            Torque</button>

                    </a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Port
                            Area</button>

                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Packing
                            Type</button>

                    </a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Rating
                            Master</button>

                    </a>



                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Trim
                            Type</button>

                    </a>

                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Seat</button>


                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">SeatleakageClass</button>


                    </a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">SeatLoadForce</button>

                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Seating
                            Torque</button>


                    </a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Shaft</button>

                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Material
                            Master</button>

                    </a>
                </div>

            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Packing</button>

                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Material
                            Master</button>

                    </a>
                </div>

            </div>
        </div>
    </div>


    <div class="col-4">
        <div class="Miscellaneous shadow p-3">
            <h6 class="viewdata_heading"><b>Miscellaneous</b></h6>
            <div class="row">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Certification</button>


                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Cleaning</button>


                    </a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Engineer
                            Master</button>


                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Industry
                            Master</button>


                    </a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Paint
                            Finish</button>


                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Paint
                            Certs</button>

                    </a>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">nde1</button>


                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">nde2</button>


                    </a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Region
                            Master</button>


                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">CvValues
                        </button>


                    </a>
                </div>

            </div>

            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Kn
                            Values</button>


                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Limit
                            Switch
                        </button>


                    </a>
                </div>

            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">User
                            Master</button>


                    </a>
                </div>


            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="Miscellaneous shadow p-3">
            <h6 class="viewdata_heading"><b>Standard</b></h6>
            <div class="row">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Design
                            standard</button>


                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Pipe
                            Arae</button>


                    </a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Pressure
                            Temp Rating</button>


                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Valve
                            Area</button>

                    </a>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="row mt-3">
    <div class="col-4">
        <div class="Actuator Data shadow p-3">
            <h6 class="viewdata_heading"><b>Actuator Data</b></h6>
            <div class="row">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">hw
                            Thrust</button>


                    </a>
                </div>
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Sliding
                            Actuator Data</button>


                    </a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <a href="">
                        <button type="button" class="btn btn-info btn-block viewbtn">Rotary
                            Acuator Data</button>

                    </a>
                </div>

            </div>
        </div>
    </div>




</div>

{% include "footer.html" %}
{% endblock %}